.away-container {
  max-width: 80%;
}

.main-banner {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 60px;
}

.adotar-banner {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("../Images/banners/banner_adotar.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.lg-text {
  font-size: 52px;
  font-weight: 600;
  text-transform: none;
  color: #fff;
}

.box {
  text-align: center;
  width: 1500px;
  height: 250px;
  border: 1px solid black;
  padding: 10px;
  margin: 100px;
}

.policy-agreement input[type="checkbox"]:required:invalid + label {
  color: red;
}
.policy-agreement input[type="checkbox"]:required:valid + label {
  color: green;
}

.team-member img {
  transition: transform 0.5s ease, border 0.5s ease;
}

.team-member img:hover {
  transform: scale(1.1);
  border: 8px solid black;
}

.paw-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../Images/divider.jpg");
}

#contactForm .form-control {
  border-radius: 0;
}
#contactForm .form-control:focus {
  outline: none;
  box-shadow: none;
}

#contactForm {
  background-color: #e8edf0;
}

#mapContact iframe {
  width: 100%;
  height: 100%;
  min-width: 100%;
}

#mapContact {
  height: 100%;
  display: flex;
  align-items: stretch;
}

.textAbout {
  text-align: justify;
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition: opacity ease-out 0.7s;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  opacity: 0;
}

.carousel-fade .carousel-item-next,
.carousel-fade .carousel-item-prev,
.carousel-fade .carousel-item.active,
.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
}

.dogsWrap img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.dogsCard:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.dogsDataWrap table th {
  text-align: center;
  padding: 3px 0;
  font-size: 20px;
}

.dogsDataWrap tbody {
  font-size: 20px;
  text-align: center;
}
.dogsDataWrap td {
  vertical-align: middle;
}

.detailsDogImage {
  animation: slideIn 1s ease-in-out;
  border: 4px solid black;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-height: 500px;
  object-fit: cover;
}

.detailsDogImage:hover {
  transform: scale(1.1);
  border: 8px solid black;
}

.adotados-list-btn-banner {
  display: block;
}
.adotados-list-btn {
  display: none;
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Media queries */
@media only screen and (max-width: 576px) {
  .away-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 770px) {
  .main-banner {
    display: none;
  }
  .adotados-list-btn-banner {
    display: none;
  }
  .adotados-list-btn {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  .away-container {
    max-width: 80%;
  }
  .dogsWrap img {
    height: 300px;
  }

  .mapHolder {
    display: none;
  }
  .dogsDataWrap table th {
    font-size: 15px;
  }
  
  .dogsDataWrap tbody {
    font-size: 15px;
  }
}




@media only screen and (max-width: 1000px) {
  button.responsive-button {
    width: 100% !important;
  }
}

/* --------------------------------------- */
